{{!-- este .handlebar trabaja con la ruta /products/ --}}

<h2 class="display-3 text-center">Products</h2>

<table class="table table-striped container">
  <thead>
    <th>producto</th>
    <th>descripcion</th>
    <th>precio</th>
    <th>codigo</th>
    <th>stock</th>
    <th>categoria</th>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
      <td>{{this.code}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.category}}</td>
    </tr>
    {{/each}}
  </tbody>

</table>