{{!-- este .handlebar trabaja con la ruta /products/home.handlebars --}}

<h2 class="text-center" style="margin-top: 2rem;"> Products from Cart with id={{cart._id}}</h2>
<hr />
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <td></td>
        <td><strong>Producto</strong></td>
        <td><strong>Descripción</strong></td>
        <td><strong>Precio</strong></td>
        <td><strong>Código</strong></td>
        <td><strong>Stock</strong></td>
        <td><strong>Cantidad</strong></td>
      </tr>
    </thead>
    <tbody>
      {{#each cart.products}}
      <tr>
        <td><button class="btn btn-danger">delete</button></td>
        <td>{{this.product.title}}</td>
        <td>{{this.product.description}}</td>
        <td>{{this.product.price}}$</td>
        <td>{{this.product.code}}</td>
        <td>{{this.product.stock}}</td>
        <td>{{this.quantity}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
