{{!-- este .handlebar trabaja con la ruta /products/ --}}
  {{#if user}}
  <div class="container text-center" style="margin-top: 1rem;">
    <H4>Bienvenido, {{user.first_name}} {{user.last_name}}</H4>
    {{#if user.email}}
    <h5> (<a href="sessions/profile">{{user.email}}</a>)
    {{/if}}
     role: {{user.role}}</h5>
      <a href="/carts/{{user.cart}}">cart</a>
      <p id="cid" data-cid="{{user.cart}}"></p>
  </div>
    <h2 class="text-center">Productos</h2>
  {{/if}}
<div class="container">

<nav aria-label="Page navigation " style="display:flex; justify-content:center">
  <ul class="pagination" align="center" style="margin-top: 1rem;">

    {{!-- se condiciona la muestra del 'anterior' al atributo 'hasPrevPage' de mi bson:--}}
    {{#if paginateInfo.hasPrevPage}}
    <li class="page-item"><a class="page-link" href="{{paginateInfo.prevLink}}">Previous</a></li>
    {{/if}}

    {{#each paginateInfo.totalPages}}
    <li class="page-item"><a class="page-link" href="{{this.link}}">{{this.page}}</a></li>
    {{/each}}
    {{#if paginateInfo.hasNextPage}}
    <li class="page-item"><a class="page-link" href="{{paginateInfo.nextLink}}">Next</a></li>
    {{/if}}
  </ul>
</nav>

{{!-- este div trabaja la lógica de la barra de páginas utilizando la información del paginate que recibe: --}}
<div class="paginateBar justify-content" align="center"></div>



<table class="table table-striped">
  <thead>
    <tr>
      <td></td>
      <td><strong>producto</strong></td>
      <td><strong>descripcion</strong></td>
      <td><strong>precio</strong></td>
      <td><strong>codigo</strong></td>
      <td><strong>stock</strong></td>
      <td><strong>categoria</strong></td>
    </tr>
  </thead>
  
  <tbody>

    {{#each products}}
    
   <tr>
      <td>
        {{#if this.stock}}
        <button class="btn btn-success" onclick="addProductToCart('{{this._id}}')">add to cart</button>
        {{/if}}
        </td>
      <td><a href="http://localhost:8080/products/{{this._id}}">{{this.title}}</a></td>   
      <td>{{this.description}}</td>
      <td>{{this.price}}$</td>
      <td>{{this.code}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.category}}</td>
    </tr>
    {{/each}}
  </tbody>

</table>
</div>

</div>


<script>
  const cartId = document.getElementById("cid")
  const cid = cartId.getAttribute("data-cid")
  
  let addProductToCart = (pid) => {
      fetch(`/api/carts/${cid}/product/${pid}`, {
        method: "post",
      })
        .then((result) => result.json())
        .then((result) => {
          if (result.status === "error") {
            new Error(result.error);
            console.log("result: ", result)
            alert("he entrado al condicional del then")
          } 
          alert(
            `Ok. Todo salió bien! :)\nEl producto se agregó al carrito con id=${result.payload._id}!`
          );
        })
        .catch((err) => alert(`Ocurrió un error :(\n${err}`));
    }

</script>