{{!-- este .handlebar trabaja con la ruta /products/home.handlebars --}}

<h2 class="text-center" style="margin-top: 2rem;"> Products from Cart with id={{cart}}</h2>
<p id="cid" data-cid="{{cart}}"></p>
<hr />

<div class="container">
  <div class="container d-flex justify-content-end">
    <button class="btn btn-danger" onclick="vaciarCarro('{{cart}}')">vaciar carrito</button>
    <button class="btn btn-success" onclick="checkout('{{cart}}')">checkout</button>
  </div>


  <table class="table table-striped">

    <table class="table table-striped">
      <thead>
        <tr>
          <td></td>
          <td><strong>producto</strong></td>
          <td><strong>precio</strong></td>
          <td><strong>cantidad</strong></td>
        </tr>
      </thead>

      <tbody>

        {{#each products}}

        <tr>
          <td><button class="btn btn-danger" onclick="deleteProductFromCart('{{this.product._id}}')">delete</button></td>
          <td><a href="http://localhost:8080/products/{{this._id}}">{{this.product.title}}</a></td>
          <td>{{this.product.price}}$</td>
          <td>{{this.quantity}}</td>
        </tr>
        {{/each}}
      </tbody>

    </table>
</div>
</table>
</div>

<script>

  const vaciarCarro = async (cid) => {

    await fetch(`/api/carts/${cid}`, {
      method: "delete"
    })
      .then((result) => result.json())
      .then((result) => {
        if (result.status === "error") throw new Error(result.error);
        alert(
          `el  carrito se ha vaciado con éxito!`
        );
      })
      .catch((err) => alert(`Ocurrió un error :(\n${err}`))
  }

  const deleteProductFromCart = async(pid)=>{
    alert(`deleteProductFromCart(${pid})`)
  }

  const checkout = async (cid)=>{
    
    alert(`alert: ${cid}`)

    await fetch(`/api/tickets/cart/${cid}`, {
      method: "post"
    })
    .then(async(result)=>{
      alert("entré al then del fetch: ")
      const data = await result.json()

      console.log("then: ",data)
      return data
    })
    .catch((err)=>{alert("entré al catch del fetch: ", err)})
  }

</script>